<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Cocktails</title>
</head>

<body>
    <div class="alcohol-types">
        <h1>Cocktails</h1>
        <!-- <ul> alcoholic ingreds </ul> -->

        <ul class="">
            <% for(let i = 0; i < cocktails.length; i++) { %>
            <li>
                <div class="container">
                    <h2><%= cocktails[i].name %></h2>
                    <p><%= cocktails[i].contains %></p>
                </div>
                <h4><%= cocktails[i].price %></h4>
            </li>
            <% } %>
        </ul>
    </div>
</body>

</html>