li {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}

.container {
    display: inline-block;
}

.head  {
    width: 80vh;
    height: 80vh;
    display: flex;

}